{% extends 'base.html' %}

{% block page %}
<div class="row">  
  <h3>{{employee}}'s stats</h3>
</div><!--closes header-->
<div class="row">

<div class="row">
  <div class="col-md-4">
    <center>
      <canvas id="criticality2" width="300" height="200"></canvas>
      <h5>Criticality</h5>
      <p>Rank: 2nd</p>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <canvas id="how_quickly_bar" width="300" height="200"></canvas>
      <h5>How Quickly</h5>
      <p>Rank: 2nd</p>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <canvas id="difficulty_pie" width="300" height="200"></canvas>
      <h5>How Difficult?</h5>
      <p>Rank: 1st</p>
    </center>
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <center>
      <canvas id="ability_score" width="300" height="200"></canvas>
      <h1 class="donut-inner">{{employee.avg_how_well_score|floatformat}}</h1>
      <h5>Ability Score</h5>  
      <p>Rank: 2nd</p>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <canvas id="how_well_bar" width="300" height="200"></canvas>
      <h5>How Well</h5>
      <p>Avg. Score: {{employee.avg_how_well_score|floatformat}} </p>
      <p>Rank: 2nd</p>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <canvas id="crit_number" width="300" height="200"></canvas>
      <h1 class="donut-inner">{{employee.avg_crit_score|floatformat}}</h1>
      <h5>Criticality Score</h5>
      <p>Avg. Score: {{employee.avg_crit_score}} </p>
      <p>Rank: 1st</p>
    </center>
  </div>

</div>

<div class="row">
  <div class="col-md-5">
    <h4>Top Tasks:</h4>
    {% for task in pending_tasks|slice:":10" %}
    <li><a href="/pg/task/{{task.id}}/">{{task}}</a> -- {{task.priority_rank}}</li>
    {% endfor e%}
  </div>
  <div class="col-md-2">
    <center>
      <h1>{{employee.avg_how_well_score|floatformat}}</h1>
	  <p>Ability Score</p>
      </center>
  </div>
  <div class="col-md-2">
	<center>
      <h1>{{completed_tasks_number}}</h1>
      <p>Completed Tasks</p>
      </center>
  </div>
  <div class="col-md-2">
    <center>
      <h1 class="">{{employee.avg_crit_score}}</h1>
      <p>Avg. Criticality Score</p>
      </center>
    </div>
</div>
  
  
  
  
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Completed Tasks:</h4>
    <table id="comp_task_table">
      <tr class="table_header">
      <td>Task</td>
      <td>How Well?</td>
      <td>Review</td>
      <td>Project</td>
      </tr>
      {% for task in completed_tasks %}
      <tr class="{% cycle 'light_blue' 'white' %}">
	<td><a href="/pg/task/{{task.id}}/">{{task}}</a></td>
	<td>{{task.task_rating.all.0.how_well}}</td>
	<td id="long_review_row">{{task.task_rating.all.0.long_review|linebreaks}}</td>
	<td>{{task.project}}</td>
      </tr>
      <!--      <li><a href="/pg/task/{{task.id}}/">{{task}}</a> -- {{task.task_rating.all.0.how_well}} -- {{task.project}}</li>-->
      {% endfor %}
      
    </table>
  </div>
</div>


<script>
var critData = [
    {
        value: {{criticality_pie_data.high}},
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: 'High Criticality',
    },
    {
        value: {{criticality_pie_data.med}},
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: 'Medium',
    },
    {
        value: {{criticality_pie_data.low}},
        color: "#FDB45C",
        highlight: "#FFC870",
        label: 'Low Criticalty',
                labelColor : 'white',

    }
]

var pieOptions = {
  scaleShowLabels: true,
}



var crit2=document.getElementById("criticality2").getContext("2d");
new Chart(crit2).Pie(critData, pieOptions);

how_wellData = [
    {
        value: {{difficulty_pie_data.hard}},
        color:"#2950A3",
        highlight: "#FF5A5E",
        label: 'Hard',
    },
    {
        value: {{difficulty_pie_data.moderate}},
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: 'Moderate',
    },
    {
        value: {{difficulty_pie_data.easy}},
        color: "#EB3729",
        highlight: "#FFC870",
        label: 'Easy',
    }
]

var difficulty_pie=document.getElementById("difficulty_pie").getContext("2d");
new Chart(difficulty_pie).Pie(how_wellData, pieOptions);

var wellBarData = {
    labels: ["Excellent", "Good", "Poor"],
    datasets: [
        {
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [{{how_well_pie_data.excellent}},{{how_well_pie_data.good}},{{how_well_pie_data.poor}}]
        }
]
};

var how_well_bar=document.getElementById("how_well_bar").getContext("2d");
new Chart(how_well_bar).Bar(wellBarData);

var quicklyBarData = {
    labels: ["Early", "On Time", "Late"],
    datasets: [
        {
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [{{how_quickly_bar_data.early}},{{how_quickly_bar_data.ontime}},{{how_quickly_bar_data.late}}]
        }
]
};

var how_quickly_bar=document.getElementById("how_quickly_bar").getContext("2d");
new Chart(how_quickly_bar).Bar(quicklyBarData);


abilityScoreData = [
    {
        value: {{employee.avg_how_well_score|floatformat}},
        color:"#2950A3",
        highlight: "#FF5A5E",
        labelFontFamily : "Arial",
        labelFontStyle : "normal",
        labelFontSize : 24,
        labelColor : "#666"
    },
    {
        value: 100-{{employee.avg_how_well_score|floatformat}} ,
        color: "#46BFBD",
        highlight: "#5AD3D1",
    }
]

var abilityScore=document.getElementById("ability_score").getContext("2d");
new Chart(abilityScore).Doughnut(abilityScoreData);

critNumberData = [
    {
        value: {{employee.avg_crit_score|floatformat}},
        color:"#2950A3",
        highlight: "#FF5A5E",
        labelFontFamily : "Arial",
        labelFontStyle : "normal",
        labelFontSize : 24,
        labelColor : "#666"
    },
    {
        value: 1000-({{employee.avg_crit_score|floatformat}}) ,
        color: "#FDB45C",
        highlight: "#5AD3D1",
    }
]

var critNumber=document.getElementById("crit_number").getContext("2d");
new Chart(critNumber).Doughnut(critNumberData);



</script>

    

{% endblock page %}
